<div
  class="bg-secondary rounded-xl overflow-hidden shadow-md border border-tercery duration-500 hover:shadow-primary/50 hover:shadow-2xl transition flex flex-col min-h-[400px]">

  <!-- img -->
  <div class="relative">

    <img [src]="ServiceImgUrl()"
      alt="Video"
      class="h-44 w-full object-cover"
      loading="lazy" />

    <!-- Icon favorite -->
    <i (click)="toggleFavorite()"
      class="fa-heart text-[1.3rem] absolute top-3 right-3 cursor-pointer transition-all duration-300"
      [ngClass]="{
        'fa-solid text-red-500 animate-heartbeat': isFavorite(),
        'fa-regular text-text-primary hover:text-primary': !isFavorite()
      }">
    </i>
  </div>

  <!-- info -->
  <div class="p-5 flex flex-col flex-1">

    <!-- Title -->
    <div class="flex flex-col gap-2">
      <h3 class="font-semibold text-text-primary text-lg truncate">{{ ServiceName() }}</h3>

      <p class="text-sm text-gray-400 line-clamp-2 leading-snug">
        {{ ServiceDesc() }}
      </p>
    </div>


    <!-- Rating -->
    <div class="mt-auto flex flex-col gap-2.5">


      @if (RatingAverage() === null) {
      <p class="text-gray-300 text-[.5rem]">Sin ranting</p>
      }@else {
      <div class="flex items-center gap-[2px] text-yellow-400">
        <span class="mr-1 text-xs text-gray-300">{{ RatingAverage()}}</span>
        @for (star of stars; track $index) {
        <i [class]="getStarClass(star)"></i>
        }
        <span class="ml-1 text-xs text-gray-400">({{ RatingTotal() }})</span>
      </div>
      }



      <span class="text-success font-semibold">
        {{ ServicePrice() | currency:'MXN' }}
      </span>


      <a [routerLink]="['' + toSlug(ServiceName())]"
        [state]="{id: ServiceId()}"
        class="bg-primary mt-1 cursor-pointer text-center text-text-primary py-1 rounded-md hover:bg-accent hover:text-gray-800 transition">
        Más info
      </a>
    </div>
  </div>
</div>