<section class="p-6 sm:p-10 flex flex-col gap-10">

  <!-- Info -->
  <div>
    <h2 class="text-2xl font-semibold text-primary">Hola, Agentino</h2>
    <p class="text-gray-400 mt-1">
      Bienvenido de nuevo. Aquí tienes un resumen de tu actividad reciente.
    </p>

    <div class="grid grid-cols-2 gap-4 mt-6 sm:grid-cols-2 lg:grid-cols-3">

      <div class="bg-tercery p-4 rounded-xl text-center col-span-1">
        <h3 class="text-xl font-bold text-primary">{{catalogService.total()}}</h3>
        <p class="text-sm text-gray-400">Servicios disponibles</p>
      </div>

      <div class="bg-tercery p-4 rounded-xl text-center col-span-1">
        <h3 class="text-xl font-bold text-primary">{{favoriteService.total()}}</h3>
        <p class="text-sm text-gray-400">Favoritos</p>
      </div>

      <div class="bg-tercery p-4 rounded-xl text-center col-span-2 sm:col-span-2 lg:col-span-1">
        <h3 class="text-xl font-bold text-primary">0</h3>
        <p class="text-sm text-gray-400">Reservaciones activas</p>
      </div>

    </div>

  </div>

  <!-- Services -->
  <div>
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <h2 class="text-xl font-semibold text-primary">Servicios populares</h2>
      <a routerLink="/services"
        class="text-sm text-primary hover:underline cursor-pointer">Ver todas</a>
    </div>

    <list-services-page [perPage]="4"
      [minimal]="true" />
  </div>

  <!-- Favorites -->
  <div>
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <h2 class="text-xl font-semibold text-primary">Tus favoritos</h2>
      <a routerLink="/favorit"
        class="text-sm text-primary hover:underline cursor-pointer">Ver más</a>
    </div>

    <favorite-services-page [minimal]="true"
      [perPage]="4" />
  </div>

</section>