@if (isLoading()) {
  <spiner />
}
@else {
  <section
    class="relative w-full min-h-screen bg-tercery flex justify-center px-4 py-10 sm:py-16">

    <div
      class="w-full max-w-6xl bg-secondary text-text-primary rounded-3xl p-6 sm:p-10 shadow-2xl">

      <h1 class="text-2xl sm:text-3xl font-bold text-primary mb-6 sm:mb-10">
        Mis Reservaciones
      </h1>

      <!-- Desktop -->
      <div class="hidden md:block overflow-x-auto rounded-xl border shadow">
        <table class="min-w-full text-sm text-left">
          <thead class="bg-tercery text-primary uppercase text-xs font-semibold">
            <tr>
              <th class="px-6 py-4">Servicio</th>
              <th class="px-6 py-4">Fecha</th>
              <th class="px-6 py-4">Estado</th>
              <th class="px-6 py-4">Monto</th>
              <th class="px-6 py-4 text-center">Acciones</th>
            </tr>
          </thead>

          <tbody class="divide-y">
            @for (item of reservationResource.value()?.data; track item.id) {
              <tr class="hover:bg-tercery transition">
                <!-- Servicio -->
                <td class="px-6 py-4">
                  <div class="flex items-center gap-4">
                    <img
                      [src]="item.service.img"
                      alt="Servicio"
                      class="w-12 h-12 rounded-lg object-cover shadow"
                    />
                    <span class="font-medium">
                      {{ item.service.name }}
                    </span>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  {{ item.start_date | date:'dd MMM yyyy' }}
                </td>

                <td class="px-6 py-4">
                  <span
                    class="px-3 py-1 rounded-full text-xs font-semibold"
                    [ngClass]="{
                      'bg-success/20 text-success': item.status === 'confirmado',
                      'bg-warning/20 text-warning': item.status === 'pendiente',
                      'bg-error/20 text-error': item.status === 'cancelado'
                    }"
                  >
                    {{ item.status }}
                  </span>
                </td>


                <td class="px-6 py-4 font-semibold text-success">
                  {{ item.service.price | currency:'MXN' }}
                </td>

                <td class="px-6 py-4">
                  <div class="flex justify-center gap-3">
                      @if (item.status === 'confirmado') {
                        <span
                          class="flex items-center gap-1 text-xs font-medium text-primary">
                          Aprobada
                        </span>
                      }

                      @if (item.status === 'pendiente') {

                        <button
                          [routerLink]="['../payments']"
                          [state]="{ reservationId: item.id }"
                          class="px-4 py-2 rounded-md bg-primary hover:bg-primary/70 cursor-pointer text-white text-xs font-medium transition">
                          Completar pago
                        </button>


                        <button
                          (click)="deleteService(item.id)"
                          class="px-4 py-2 rounded-md bg-error cursor-pointer hover:bg-red-600 text-white text-xs font-medium transition">
                          Cancelar
                        </button>
                      }

                      @if (item.status === 'cancelado') {
                        <span
                          class="flex items-center gap-1 text-xs font-medium text-gray-500">
                          Cancelada
                        </span>
                      }

                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <!-- Phone -->
      <div class="space-y-4 md:hidden">
        @for (item of reservationResource.value()?.data; track item.id) {
          <div class="bg-tercery rounded-xl p-4 shadow border">
            <div class="flex gap-4">
              <img
                [src]="item.service.img"
                alt="Servicio"
                class="w-20 h-20 rounded-lg object-cover"
              />

              <div class="flex-1">
                <h3 class="font-semibold text-base">
                  {{ item.service.name }}
                </h3>

                <p class="text-sm text-text-secondary mt-1">
                  {{ item.start_date | date:'dd MMM yyyy' }}
                </p>

                <div class="flex items-center justify-between mt-3">
                  <span
                    class="px-3 py-1 rounded-full text-xs font-semibold"
                    [ngClass]="{
                      'bg-success/20 text-success': item.status === 'confirmado',
                      'bg-warning/20 text-warning': item.status === 'pendiente',
                      'bg-error/20 text-error': item.status === 'cancelado'
                    }"
                  >
                    {{ item.status }}
                  </span>

                  <span class="font-semibold text-success">
                    {{ item.service.price | currency:'MXN' }}
                  </span>
                </div>
              </div>
            </div>


            <div class="flex gap-3 mt-4">
              @if (item.status === 'confirmado') {
                <span
                  class="flex items-center gap-1 text-xs font-medium text-primary">
                  Aprobada
                </span>
              }

              @if (item.status === 'pendiente') {

                <button
                  [routerLink]="['../payments']"
                  [state]="{ reservationId: item.id }"
                  class="px-4 py-2 rounded-md bg-primary hover:bg-primary/70 cursor-pointer text-white text-xs font-medium transition">
                  Completar pago
                </button>


                <button
                  (click)="deleteService(item.id)"
                  class="px-4 py-2 rounded-md bg-error cursor-pointer hover:bg-red-600 text-white text-xs font-medium transition">
                  Cancelar
                </button>
              }

              @if (item.status === 'cancelado') {
                <span
                  class="flex items-center gap-1 text-xs font-medium text-gray-500">
                  Cancelada
                </span>
              }
            </div>
          </div>
        }
      </div>

      @if (!minimal() && reservationResource.value()?.meta !== null && reservationResource.value()?.meta?.last_page !== 1) {
        <div class="mt-10">
          <app-pagination [page]="reservationResource.value()?.meta?.last_page ?? 0"
            [currenPage]="paginateService.currenPage()" />

        </div>
      }

    </div>
  </section>
}

@if (alertVisible()) {
  <notifications-component
    [type]="alertType()"
    [message]="alertMessage()"
    (close)="alertVisible.set(false); pendingDelete.set(false)"
    (confirm)="confirmDelete()"
  />
}
