/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';


@theme {

  --color-primary: #38BDF8;
  --color-secondary: #1E293B;
  --color-tercery: #0F172A;
  --color-accent: #67E8F9;
  --color-text-primary: #E2E8F0;


  --color-success: #34D399;
  --color-error: #F87171;
  --color-warning: #FBBF24;

  --font-family-manrope: 'Manrope', sans-serif;

  --animate-fade-in: fadeIn 0.3s ease-in-out;
  --animate-heartbeat: heartbeat 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(1.3); }
  40% { transform: scale(1); }
  60% { transform: scale(1.2); }
  100% { transform: scale(1); }
}


@utility animate-fadeIn {
  animation: var(--animate-fade-in);
}

@utility animate-heartbeat  {
  animation: var(--animate-heartbeat);
}

body {
  font-family: var(--font-family-manrope);
  background-color: var(--color-tercery);
  color: var(--color-text-primary);
}


